# ignore hidden files
*.aux
*.cp
*.elc
*.fn
*.info
*.ky
*.log
*.pdf
*.pg
*.toc
*.tp
*.vr
*.ogv
*~
*.shh
*.gtk*
\#*
.bash_history
.bash_logout
.config/ImageMagick/
.dvdcss/
.esd_auth
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/eshell/
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/games/
.emacs.d/auto-save-list
.emacs.d/tramp
.emacs.d/semanticdb/
.emacs.d/url
.emacs.d/var
.gimp-2.8/
.git-credentials
.gitconfig
.gnupg/
.gstreamer-0.10/
.gtk-recordmydesktop
.ido.last
.languagetool-ooo.cfg
.lesshst
.local/
.mozilla/
.netrc
.pki/
.purdue_h_drive_credentials.txt
.purple/
.python_history
.recentf
.rnd
.ssr/
.thumbnails/
.thunderbird/
.wine-pipelight/
.Xauthority
Downloads
References.docx
bransoj@hotmail.com certificate.asc
New Database.odb
Pdnsd - ArchWiki.htm
Pdnsd - ArchWiki_files/
aur/
bookmarks_4_30_14.html
colorprofile/
documents/
Desktop/
file.txt
manuals/systemd/
nano.save
optdeps
paper_outline.odt
pictures/
programming/gnu/
programming/html/bootstrap
trunk/
videos/
.cache/
.config/gconf/*
.config/mimeapps.list
.config/awesome/icons/*
.config/awesome/themes/*
.config/Thunar/
.config/Trolltech.conf
.config/autostart/
.config/awesome/scratch
.config/chromium/
.config/dconf/
.config/enchant/
.config/gnunet.conf
.config/gthumb/
.config/gtk-2.0/
.config/gtk-3.0/
.config/libreoffice/
.config/lxterminal/
.config/pacmatic
.config/pulse/
.config/vlc/
.config/xfce4/
.config/xfburn
.dbus/
.drirc
.emacs.d/elpa
.ssh
.subversion/config
.subversion/README.txt
.subversion/servers
.emacs.d/ede-projects.el
.emacs.d/bookmarks
.emacs.d/my-custom-files/gnus-set-up.el
.authinfo
.newsrc
.newsrc.eld
.newsrc
.newsrc.eld
/.emacs.d/gtd.org
/Mail/
/.emacs.d/yasnippet-snippets/web-mode/
/.toe-scores
/programming/org/
/.emacs.d/notes.org
/.workrave/
/programming/html/purdue_site/site1/bs3.3/css/bootstrap-theme.css
/programming/html/purdue_site/site1/bs3.3/css/bootstrap-theme.css.map
/programming/html/purdue_site/site1/bs3.3/css/bootstrap-theme.min.css
/programming/html/purdue_site/site1/bs3.3/css/bootstrap.css
/programming/html/purdue_site/site1/bs3.3/css/bootstrap.css.map
/programming/html/purdue_site/site1/bs3.3/css/bootstrap.min.css
/programming/html/purdue_site/site1/bs3.3/fonts/glyphicons-halflings-regular.eot
/programming/html/purdue_site/site1/bs3.3/fonts/glyphicons-halflings-regular.svg
/programming/html/purdue_site/site1/bs3.3/fonts/glyphicons-halflings-regular.ttf
/programming/html/purdue_site/site1/bs3.3/fonts/glyphicons-halflings-regular.woff
/programming/html/purdue_site/site1/bs3.3/js/bootstrap.js
/programming/html/purdue_site/site1/bs3.3/js/bootstrap.min.js
/programming/html/purdue_site/site1/bs3.3/js/npm.js
/.ICEauthority
/.config/epiphany/
/.config/evolution/
/.config/nautilus/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/yelp/
/.emacs.d/.#tramp
/programming/emacs/learn-emacs/todo.org
/.emacs.d/el-get/
/.#.recentf
/.java/
/.config/wpa_supplicant/
/.config/monitors.xml
/.config/caja/
/.Skype/
/.config/Skype/
/desktop/
/programming/takehome/
/test.mkv
