a
{
    color:#E18A07;
}
a:hover
{
    font-size:150%;
    color:#E18A07;
    text-decoration:none;
}
body
{
    background-color:#C0C0C0;
}
.brown
{
    color:#E18A07;
}
.container
{
    border:solid;
    border-radius:10px;
    border-color:#E18A07;
    background-color:#FFFFFF;
}
img.right {
    float:right;
    margin-left:15px;
}
img.left {
    float:left;
}
h1
{
    color:#E18A07;
}
.regular
{
    border-width:0px;
    background-color:#C0C0C0;
}
